/* .logo {
    max-width: rem(200px);
  
    @media (max-width: $mantine-breakpoint-sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  } */
.footer {
    border-radius: 30px;
    background-color: #333333;
    margin-right: calc(var(--mantine-spacing-xl) * 2);
    margin-left: calc(var(--mantine-spacing-xl) * 2);
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 3);
    margin-bottom: calc(var(--mantine-spacing-xl) * 1);

    @media (max-width: $mantine-breakpoint-sm) {
        padding-top: calc(var(--mantine-spacing-xl) * 1);
        margin-right: calc(var(--mantine-spacing-md));
        margin-left: calc(var(--mantine-spacing-md));
        padding-bottom: calc(var(--mantine-spacing-xl) * 4);

    }
}

.inner {
    display: flex;
    justify-content: space-between;

    justify-content: end;

    @media (max-width: $mantine-breakpoint-xl) {
        flex-direction: column;
        align-items: center;
        padding-left: calc(var(--mantine-spacing-xl)*2);

    }
}

.groups {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: column;
        flex-wrap: wrap;

    }
}

.wrapper {
    width: rem(300px);

    @media (max-width: $mantine-breakpoint-sm) {
        width: rem(400px);
        padding-top: 20px;
    }
}

.link {
    display: block;
    color: #F0F2F4;
    font-size: var(--mantine-font-size-sm);
    padding-top: rem(3px);
    padding-bottom: rem(3px);


    &:hover {
        text-decoration: underline;
    }
}

.title {
    font-size: var(--mantine-font-size-lg);
    font-weight: 700;
    font-family:
        Greycliff CF,
        var(--mantine-font-family);
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
    color: #F0F2F4;
}

.wrapper1 {
    min-height: rem(400px);
    background-color: #333333;
    border-radius: var(--mantine-radius-xl);
    padding: calc(var(--mantine-spacing-xl) * 2.5);
    margin-right: calc(var(--mantine-spacing-xl) * 2);
    margin-left: calc(var(--mantine-spacing-xl) * 2);
    margin-bottom: -50px;

    @media (max-width: $mantine-breakpoint-sm) {
        padding: calc(var(--mantine-spacing-xl) * 1.5);
        margin-right: calc(var(--mantine-spacing-md));
        margin-left: calc(var(--mantine-spacing-md));
    }
}

.title1 {
    font-size: 55px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1;
}

.description {
    color: #FFFFFF;
    max-width: rem(300px);
    font-size: 14px;
    margin-bottom: 30px;

    @media (max-width: $mantine-breakpoint-sm) {
        max-width: 100%;
    }
}

.form {
    background-color: #F0F2F4;
    padding: calc(var(--mantine-spacing-xl) *3);
    border-radius: var(--mantine-radius-xl);
    box-shadow: var(--mantine-shadow-lg);

    @media (max-width: $mantine-breakpoint-sm) {
        padding: calc(var(--mantine-spacing-xl));
        padding-top: calc(var(--mantine-spacing-xl) * 2);
        padding-bottom: calc(var(--mantine-spacing-xl) * 2);
        margin-right: -30px;
        margin-left: -30px;
    }
}

.social {
    color: #FFFFFF;

    @mixin hover {
        color: var(--mantine-color-blue-1);
    }
}

.input {
    background-color: var(--mantine-color-white);
    border-color: var(--mantine-color-gray-4);
    color: var(--mantine-color-black);

    &::placeholder {
        color: var(--mantine-color-gray-5);
    }
}

.inputLabel {
    color: var(--mantine-color-black);
}



.socialIcons {
    padding: 0 2px;
}

.footerInner {
    margin-top: -80px;
    margin-right: calc(var(--mantine-spacing-xl) * 4);
    margin-left: calc(var(--mantine-spacing-xl) * 4);
    background-color: #FFFFFF;
    padding-bottom: 30px;
    border-top: 14px solid white;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;

    @media (max-width: $mantine-breakpoint-sm) {
        margin-top: -130px;
        justify-content: center;
        margin-right: calc(var(--mantine-spacing-xl) * 2);
        margin-left: calc(var(--mantine-spacing-xl) * 2);
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
    }
}

.button {
    display: inline-block;
    border-radius: 27px;
    background-color: #333333;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    font-weight: 300px;
    padding: 1px;
    width: 170px;
    height: 45px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
}

.button .span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.button:hover {
    background-color: #F14F44;
    color: #FFFFFF;
}

.button .span:before {
    content: '>';
    position: relative;
    opacity: 1;
    top: 0;
    left: -3px;
    transition: 0.3s;
}

.button .span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.3s;
}

.button:hover .span {
    padding-right: 20px;

}

.button .span:before {
    opacity: 1;
    right: 0;
}

.button:hover .span:before {
    opacity: 0;
    right: 0;
}

.button:hover .span:after {
    opacity: 1;
    right: 0;
}


.footerInner {
    height: 4em;

    position: relative;

    @media (max-width: $mantine-breakpoint-sm) {
        height: 7em;
    }

    &::after {
        content: '';
        background: #333333;
        height: 40px;
        width: 2em;
        position: absolute;
        left: -28px;
        bottom: 16px;
        border-bottom-right-radius: 25px;
        box-shadow: 0 16px 0 0 #ffffff;

        @media (max-width: $mantine-breakpoint-sm) {
            content: '';
            background: #333333;
            height: 80px;
            width: 2em;
            position: absolute;
            left: -32px;
            bottom: 17.5px;
            border-bottom-right-radius: 25px;
            box-shadow: 0 16px 0 0 #ffffff;
        }



    }

    &::before {
        content: '';
        background: #333333;
        height: 50px;
        width: 20px;
        position: absolute;
        right: -18px;
        bottom: 16px;
        border-bottom-left-radius: 25px;
        box-shadow: 0 16px 0 0 #ffffff;

        @media (max-width: $mantine-breakpoint-sm) {
            content: '';
            background: #333333;
            height: 80px;
            width: 20px;
            position: absolute;
            right: -20px;
            bottom: 16px;
            border-bottom-left-radius: 25px;
            box-shadow: 0 16px 0 0 #ffffff;
        }

    }
}